<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Queue System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-page">

    <div class="login-card">

        <div class="brand">

            <img
                src="{{ url_for('static', filename='images/school_logo.jpeg') }}"
                alt="School Logo"
                class="login-logo"
            >

            <h1>CKCM Student Queue</h1>

            <p>Queue Management System</p>

        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    <div class="alert {{ category }}">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter your username"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button
                class="btn primary login-submit"
                type="submit"
            >
                Login
            </button>

            <div class="register-link">

                <span>Don't have an account?</span>

                <a href="{{ url_for('register') }}">
                    Create an Account for Student Only
                </a>

            </div>

        </form>

    </div>

</body>

</html>